<div class="header-top">
  <div class="header-inner">
    <h1><a href="http://localhost:3000">APPETIZER</a></h1>
    <div class="header-navi">
      <div class="content">
        <a href="http://localhost:3000">HOME</a>
      </div>
      <div class="content">
        <a href="#" id="lists">GAME</a>
      </div>
      <ul class="show-lists1 hidden" id="pull-down">
        <li id="lists"><%= link_to 'カード', posts_game_path %></li>
      </ul>
      <div class="content">
        <a href="#" id="lists1">COOKING</a>
      </div>
      <ul class="show-lists hidden" id="pull-down1">
        <li id="lists"><%= link_to 'ズボラレシピ', posts_cooking_path %></li>
      </ul>
      <div class="content">
        <a href="#", id="video">VIDEO</a>
      </div>
      <div class="contact" id="contact">
        <%= link_to 'CONTACT', new_user_registration_path %>
      </div>
    </div>
  </div>
</div>

<div class="main-content">
  <div class="left">
    <ul class="title">GAME
      <li><%= link_to "ズボラレシピ", posts_cooking_path %></li>
      <li><%= link_to "おつまみ", "#" %></li>

    </ul>
  </div>

  <div class="right">
    <div class="right-top">
      <p class="title">無限ピーマン</p>
      <p class="description">
      内容をつらつらと書きます！たくさん書きたいです目安はないけど読みやすい感じにする！<br>
      どっかに画像と動画を入れたいです。</p>
    </div>

    <div class="right-center">
      <p class="title">ちくわの磯辺揚げ</p>
      <p class="description">
      内容をつらつらと書きます！たくさん書きたいです目安はないけど読みやすい感じにする！<br>
      もっとたくさん書きたいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい<br>
      むずいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい</p>
    </div>

    <div class="right-bottom">
      <p class="title">やみつき大葉</p>
      <p class="description">
      内容をつらつらと書きます！たくさん書きたいです目安はないけど読みやすい感じにする！<br>
      ルイスにスペインの遊びを確認しますうううううううううううううううううううううううう<br>
      うううううううううううううううううううううううううううううううううううううううううう<br>
      むずすぎいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいいい</p>
    </div>

  </div>

</div>



<div class="footer">
  <div class="footer-top">
  </div>
  <div class="footer-inner">
    <div class="inner-top">
      <span>APPETIZER, LCC</span>
    </div>
    <div class="inner-bottom">
      <p>自分も投稿したい方は、右上のCONTACTへ！</p>
    </div>
  </div>
</div>