<div class="header-top">
  <div class="header-inner">
    <h1><a href="https://appetizer-35960.herokuapp.com/">APPETIZER</a></h1>
    <div class="header-navi">
      <div class="content">
        <a href="https://appetizer-35960.herokuapp.com/">HOME</a>
      </div>
      <div class="content">
        <a href="#" id="lists">GAME</a>
      </div>
      <ul class="show-lists1 hidden" id="pull-down">
        <li id="lists"><%= link_to 'アプリ', posts_game_path %></li>
      </ul>
      <div class="content">
        <a href="#" id="lists1">COOKING</a>
      </div>
      <ul class="show-lists hidden" id="pull-down1">
        <li id="lists"><%= link_to 'ズボラレシピ', posts_cooking_path %></li>
      </ul>
      <div class="content">
        <a href="#", id="video">VIDEO</a>
      </div>
      <div class="contact" id="contact">
        <%= link_to 'CONTACT', new_user_registration_path %>
      </div>
    </div>
  </div>
</div>

<div class="main-intro">
  <div class="left-intro">
    <ul class="title">COOKING
      <li><%= link_to "ズボラレシピ", posts_cooking_path %></li>
    </ul>
  </div>

  <div class="rightintro">
    <div class="right-top">
      <p class="title">無限ピーマン</p>
      <div class="recipe">
        <%= image_tag "unlimited_p-men.jpg", size: "351x234", class: "foodimage" %>
        <div class="howto">
          <p class="description-top">材料</p>
          <p class="description-center">
            　　ピーマン：5, 6個<br>
            　　塩昆布　：ふたつまみ　　　<br>
            　　ごま油　：大さじ1</p>
          <p class="description-top">手順</p>
          <p class="description-bottom">
            　　1：ピーマンを縦半分に切り、横に細切りにします。<br>
            　　2：切ったピーマンと、塩昆布、ごま油をポリ袋に入れ混ぜます。<br>
            　　3：盛り付けて完成です。</p>
        </div>
      </div>
    </div>

    <div class="right-center">
      <p class="title">ちくわの磯辺マヨ焼き</p>
      <div class="recipe">
      <%= image_tag "tikuwanoisobeyaki.jpg", size: "351x234", class: "foodimage" %>
        <div class="howto">
          <p class="description-top">材料</p>
          <p class="description-center">
            　　ちくわ　　：4, 5本<br>
            　　マヨネーズ：大さじ3　　　　<br>
            　　青のり　　：大さじ1</p>
          <p class="description-top">手順</p>
          <p class="description-bottom">
            　　1：ちくわを約2cm幅に斜め切りします。<br>
            　　2：切ったちくわとマヨネーズと青のりをポリ袋に入れ混ぜあわせます。<br>
            　　3：アルミホイルを敷いて、オーブントースターで焼き色がつくまで5〜6分焼きます。<br>
            　　4：盛り付けて完成です。</p>
        </div>
      </div>
    </div>

    <div class="right-bottom">
      <p class="title">アボカドとサーモンのユッケ</p>
      <div class="recipe">
      <%= image_tag "abogadosa-mon.jpg", size: "351x234", class: "foodimage" %>
        <div class="howto">
          <p class="description-top">材料</p>
          <p class="description-center">
            　　サーモン　　　　：100g<br>
            　　アボガド　　　　：1/2個<br>
            　　醤油　　　　　　：大さじ1<br>
            　　コチュジャン　　：小さじ2<br>
            　　ごま油　　　　　：小さじ2<br>
            　　白いりごま　　　：小さじ1<br>
            　　チューブニンニク：小さじ1/2</p>
          <p class="description-top">手順</p>
          <p class="description-bottom">
            　　1：サーモンを1cm角に切ります。<br>
            　　2：アボカドも1cm角に切ります。<br>
            　　3：サーモン、アボガド、その他をポリ袋に入れ混ぜあわせます。<br>
            　　4：盛り付けて完成です。</p>
        </div>
      </div>
    </div>

  </div>

</div>



<div class="footer">
  <div class="footer-top">
  </div>
  <div class="footer-inner">
    <div class="inner-top">
      <span>APPETIZER, LCC</span>
    </div>
    <div class="inner-bottom">
      <p>自分も投稿したい方は、右上のCONTACTへ！</p>
    </div>
  </div>
</div>