<div class="header-top">
  <div class="header-inner">
    <h1><a href="https://appetizer-35960.herokuapp.com/">APPETIZER</a></h1>
    <div class="header-navi">
      <div class="content">
        <a href="https://appetizer-35960.herokuapp.com/">HOME</a>
      </div>
      <div class="content">
        <a href="#" id="lists">GAME</a>
      </div>
      <ul class="show-lists1 hidden" id="pull-down">
        <li id="lists"><%= link_to 'アプリ', posts_game_path %></li>
      </ul>
      <div class="content">
        <a href="#" id="lists1">COOKING</a>
      </div>
      <ul class="show-lists hidden" id="pull-down1">
        <li id="lists"><%= link_to 'ズボラレシピ', posts_cooking_path %></li>
      </ul>
      <div class="content">
        <a href="#", id="video">VIDEO</a>
      </div>
      <div class="contact" id="contact">
        <%= link_to 'CONTACT', new_user_registration_path %>
      </div>
    </div>
  </div>
</div>

<div class="main-intro">
  <div class="left-intro">
    <ul class="title">GAME
      <li><%= link_to "アプリ", posts_game_path %></li>
    </ul>
  </div>

  <div class="rightintro">
    <div class="right-top">
      <p class="title">一人で飲みたい夜</p>
      <div class="recipe">
        <%= image_tag "alonesake.png", size: "351x351", class: "foodimage" %>
        <div class="howto">
          <p class="description-top">内容</p>
          <p class="description-center">
            　　一人で飲みたいおじさんの<a href="https://ja.game-cafe.net/topindex.php?id=hitorinomi">マインスイーパー</a>です。<br>
            　　他のおじさんがいない居酒屋を全て開けてください。<br>
            　　表示される数字は、隣接する居酒屋に隠れているおじさんの人数です。<br>
            　　フリックで居酒屋にマークできます。</p>
          <p class="description-top">コメント</p>
          <p class="description-bottom">
            　　他にも様々なゲームがあるので、おすすめです！<br>
            　　おじさんの絵が可愛くていいです！興味があれば是非！</p>
        </div>
      </div>
    </div>

    <div class="right-center">
      <p class="title">うたドン！</p>
      <div class="recipe">
      <%= image_tag "utadon.png", size: "351x351", class: "foodimage" %>
        <div class="howto">
          <p class="description-top">内容</p>
          <p class="description-center">
            　　<a href="https://apps.apple.com/jp/app/%E3%81%86%E3%81%9F%E3%83%89%E3%83%B3/id1201624046">うたドン！</a>というアプリです。<br>
            　　自分の年齢などから懐かしい歌をランダムで流し、早押しクイズが出来るアプリです。</p>
          <p class="description-top">コメント</p>
          <p class="description-bottom">
            　　ランキング参加もできるため、自分の実力を計ることができます！<br>
            　　2人で対戦もできるので、少人数での飲み会にもぴったり！<br>
            　　懐かしい曲を聞いて昔の事を思い出しながら、飲むお酒も乙ですね！<br></p>
        </div>
      </div>
    </div>

    <div class="right-bottom">
      <p class="title">怒るおじさん</p>
      <div class="recipe">
      <%= image_tag "angryojisan.png", size: "351x351", class: "foodimage" %>
        <div class="howto">
          <p class="description-top">内容</p>
          <p class="description-center">
            　　<a href="https://apps.apple.com/jp/app/%E6%80%92%E3%82%8B%E3%81%8A%E3%81%98%E3%81%95%E3%82%93/id529764262">怒るおじさん</a>というアプリです。<br>
            　　同じ顔のおじさんが何個も並べられていて、<br>
            　　タップすると一つだけ怒るようになっています。</p>
          <p class="description-top">コメント</p>
          <p class="description-bottom">
            　　シンプルなので、誰でも気軽に楽しめます！<br>
            　　怒るおじさんの絵が可愛くてついつい押してしまいます！<br>
            　　たまに「怒るおばさん」も出てくるので、それが出るまで続けるのも面白いです！</p>
        </div>
      </div>
    </div>

  </div>

</div>



<div class="footer">
  <div class="footer-top">
  </div>
  <div class="footer-inner">
    <div class="inner-top">
      <span>APPETIZER, LCC</span>
    </div>
    <div class="inner-bottom">
      <p>自分も投稿したい方は、右上のCONTACTへ！</p>
    </div>
  </div>
</div>