<div class="header-top">
  <div class="header-inner">
    <h1><a href="http://localhost:3000">APPETIZER</a></h1>
    <div class="header-navi">
      <div class="content">
        <a href="http://localhost:3000">HOME</a>
      </div>
      <div class="content">
        <a href="#" id="lists">GAME</a>
      </div>
      <ul class="show-lists1 hidden" id="pull-down">
        <li id="lists"><%= link_to 'カード', posts_game_path %></li>
        <li><a href="#" id="lists">その他</a></li>
      </ul>
      <div class="content">
        <a href="#" id="lists1">COOKING</a>
      </div>
      <ul class="show-lists hidden" id="pull-down1">
        <li id="lists"><%= link_to 'ズボラレシピ', posts_cooking_path %></li>
        <li><a href="#">おつまみ</a></li>
      </ul>
      <div class="content">
        <a href="#">VIDEO</a>
      </div>
      <div class="contact" id="contact">
        <%= link_to 'CONTACT', new_user_registration_path %>
      </div>
    </div>
  </div>
  <div class="header-center">
    <h2>APPETIZERとは、家で一人でもお酒を楽しむことができる<br>アプリケーションです！</h2>
  </div>
</div>

<div class="main">

  <div class="main-top">
    <h1>About APPETIZER</h1>
    <p>APPETIZERとは、上記の通りです！<br>一人でもできる遊びやおすすめの簡単レシピなどを紹介するサイトです！！<br>
       宅飲みが流行している昨今の皆様の助けになれば幸いです！！！<br>不定期で更新しますので、たまにチェックをお願い致します！！！！</p>
  </div>

  <div class="main-center">
    <div class="left-image">
      <%= image_tag "topimage12", size: "469x312"%>
    </div>
    <div class="right">
      <p class="name">世界の遊び</p>
      <p>世界の遊びを紹介します！<br>
          これであなたも海外旅行をしている気分に！？<br>
          是非楽しんでください！</p>
    </div>
  </div>

  <div class="main-bottom">
    <div class="left">
      <p class="name">簡単レシピ</p>
      <p>ズボラなあなたにぴったりな簡単レシピを紹介します。<br>
         僕自身もズボラなため、<br>
         調理時間5分以内！皿洗いなし！<br>
         の簡単レシピを紹介します！</p>
    </div>
    <div class="right-image">
      <%=image_tag "topimage11", size: "469x312"%>
    </div>
  </div>

</div>








<div class="footer">
  <div class="footer-top">
  </div>
  <div class="footer-inner">
    <ul class="inner-top" id="inner-top"></ul>
      <li id="button">ここを5回クリックすると、、、</li>
    <div class="inner-bottom">
      <p>自分も投稿したい方は、右上のCONTACTへ！</p>
    </div>
  </div>
</div>